* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}





header {
    nav {
        background: linear-gradient(90deg , rgb(160, 21, 21), rgb(220, 0, 0), rgb(220, 0, 0), rgb(160, 21, 21));
        
        ul {
            width: 40%;
            margin: auto;
            display: flex;
            justify-content: space-between;
            list-style-type: none;
        }
        
        
            
    }

    div {
        height: 2em;
        img {
            background-color: red;
            width: 30%;
            height: 2em;
            position: absolute;
            top: 1.4em;
            left: 35%;
            right: 35%;
            z-index: -1;

        }

        h1 {
            text-align: center;
            text-transform: uppercase;
        }
    }
}