* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='140' height='160' viewBox='0 0 16 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%233d375e' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M8 0v20L0 10M16 0v10L8 0M16 10v10H8'/%3E%3C/g%3E%3C/svg%3E");;
}


header {
    nav {
        background: linear-gradient(90deg , rgb(160, 21, 21), rgb(220, 0, 0), rgb(220, 0, 0), rgb(160, 21, 21));
        
        ul {
            width: 40%;
            margin: auto;
            display: flex;
            justify-content: space-between;
            list-style-type: none;
        }
        
        
            
    }

    div {
        height: 2em;
        img {
            background-color: red;
            width: 30%;
            height: 2em;
            position: absolute;
            top: 1.4em;
            left: 35%;
            right: 35%;
            z-index: -1;

        }

        h1 {
            color: #fff;
            text-align: center;
            text-transform: uppercase;
        }
    }
}

main {

    section {
        margin: 30px 10px 0px 10px;
        height: 600px;
        background-color: red;
        color: #fff;
        text-align: center;
        
        h3 {
            width: 70%;
            margin: auto;
            font-size: 2em;
            text-transform: uppercase;
            letter-spacing: .7em;
        }

        h2 {
            width: 80%;
            margin: auto;
            font-size: 8em;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: .14em;
        }

        p {
            width: 80%;
            margin: auto;
        }
    }
}